<nav class="navbar ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Da & The Gank</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li>
        <a><input type="text"></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span></a></li>-->
      <li>
        <a href="#">
          <img src="https://compass-ssl.microsoft.com/assets/ca/ae/caaefb3d-f1cc-4adb-a605-bd7ce2311a4f.svg?n=account-icon-color.svg"
            class="img-rounded" alt="Cinque Terre" width="20" height="20">
        </a>
      </li>

    </ul>
  </div>
</nav>