<!--<div class="row">
  <div class="col">
      <p>Home</p>
  </div>
   <div class="col">
       <p>Collection</p>
   </div>
    <div class="col">
      Join Google+
    </div>

     <div class="col">
    </div>

</div>
<div class="row">
  <div class="col">
   send feed back
  </div>
   <div class="col">
     Help
   </div>

</div>-->
<ul class="list-group">
  <li class="list-group-item">Home</li>
  <li class="list-group-item">Collection</li>
  <li class="list-group-item">Join Google+</li>
  <li class="list-group-item">send feed back</li>
  <li class="list-group-item"> Help</li>
</ul>