<!--The whole content below can be removed with the new code.-->
<div>
  <h1> Welcome to {{Username}} </h1>

<input type="text" [(ngModel)]="newName">
<input type="text" [(ngModel)]="newPhone">
<input type="text" [(ngModel)]="NewEmail">
<button (click) = "addNewUser(newName)">Add</button>
  <app-login></app-login>
  <app-user [user]="userDate" *ngFor="let userDate of userArray"></app-user>
  <div class="row">
    <div class="col 3">
  <div>
    <div class="col-sm-12">
      <app-navbar></app-navbar>
    </div>
    <div class="col-sm-6">
      <app-leftbar></app-leftbar>
    </div>


 <!--<ul>
   <li *ngFor="let item of userArray">
<p>
 {{item.name}}
</p>
     <p>
       <a href="tell:{{item.cellphone}}">{{item.cellphone}}</a>
     </p>
     <p>
       <a href="mailTo:{{item.email}}">{{item.email}}</a>
     </p>
   </li>
 </ul>-->
    
    <!--<label for= "username"> Username : </label>
  <input type="text" [(ngModel)]="Username">
  <label for="password"> PassWord : </label>
  <input type="password" [(ngModel)]="Password">
  <button (click)="Yes(Username,Password)"> Yes </button>
  <p>{{result}}</p>-->
  </div>
    <div class="col-sm-6">
      <app-post></app-post>
    </div>
    <div class="col-sm-6">
      <app-view></app-view>
    </div>

</div>
