<!--The whole content below can be removed with the new code.-->
<div>
  <h1> Welcome to {{Username}} </h1>

  <app-login></app-login>
  <div class="row">
    <div class="col 3">
      <app-leftbar></app-leftbar>
    </div>
    <div class="row">
      <div class="col 3">
        <app-view></app-view>
      </div>
    </div>
    <!--<label for= "username"> Username : </label>
  <input type="text" [(ngModel)]="Username">
  <label for="password"> PassWord : </label>
  <input type="password" [(ngModel)]="Password">
  <button (click)="Yes(Username,Password)"> Yes </button>
  <p>{{result}}</p>-->
  </div>