<!--img src="http://3.bp.blogspot.com/-2pM00QeFL_o/UoOsRsTrEuI/AAAAAAAAAFw/k8Qt6zUf0RU/s1600/naruto+shippuden+wallpaper+01+%5Bvikitech%5D.jpg" height="100" width="150" alt="Description"/>-->
<!--<div class="row">
    <div class="col-sm-12">        
          <img src="http://3.bp.blogspot.com/-2pM00QeFL_o/UoOsRsTrEuI/AAAAAAAAAFw/k8Qt6zUf0RU/s1600/naruto+shippuden+wallpaper+01+%5Bvikitech%5D.jpg" height="300" width="400" alt="Description"/>
          
    </div>
</div>-->
<!--<div class="col-sm-12">-->
      <div class="thumbnail">       
          <img src="http://3.bp.blogspot.com/-2pM00QeFL_o/UoOsRsTrEuI/AAAAAAAAAFw/k8Qt6zUf0RU/s1600/naruto+shippuden+wallpaper+01+%5Bvikitech%5D.jpg"  style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        
      </div>